<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ocam">
  <link
    name="ocam">
    <inertial>
      <origin
        xyz="-1.8658E-06 -0.0072991 -8.97379999999996E-05"
        rpy="0 0 0" />
      <mass
        value="0.00585" />
      <inertia
        ixx="7.2132E-07"
        ixy="1.2299E-10"
        ixz="-1.677E-10"
        iyy="7.1029E-07"
        iyz="-6.007E-09"
        izz="7.0435E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://gimbal/meshes/ocam.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://gimbal/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://gimbal/meshes/ocam.STL" />
      </geometry>
    </collision>
  </link>
</robot>
